name: "Redzone - iOS - Push to App Store"

on:
    push:
        branches: [ "main" ]
        paths: [ "Redzone-iOS/Redzone/Redzone.base.xcconfig", "Redzone-iOS/exportOptions.plist", "Redzone-iOS/exportOptions-exportOnly.plist", ".github/workflows/push-to-app-store.yml" ]
    pull_request:
        branches: [ "main" ]
        paths: [ "Redzone-iOS/**" ]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  appstore:
    runs-on: 'macos-26'
    defaults:
      run:
        working-directory: ./Redzone-iOS
        shell: zsh {0}
    env:
      NSUnbufferedIO: YES
    
    steps:
        - name: Checkout
          uses: actions/checkout@v4
        - name: Setup Xcode
          uses: maxim-lobanov/setup-xcode@v1.6.0
          with:
            xcode-version: ^26
        - name: Setup environment
          uses: ./.github/actions/ios-setup
          with:
            dist-p12-base64: ${{ secrets.IOS_DIST_CERTIFICATE_BASE64 }}
            dist-p12-password: ${{ secrets.IOS_DIST_CERTIFICATE_PASSWORD }}
            dev-p12-base64: ${{ secrets.IOS_DEV_CERTIFICATE_BASE64 }}
            dev-p12-password: ${{ secrets.IOS_DEV_CERTIFICATE_PASSWORD }}
            prov-profiles-tgz-base64: ${{ secrets.IOS_MOBILEPROVISION_TGZ_BASE64 }}
            working-directory: ./Redzone-iOS
        - name: Setup App Store Connect
          run: |
            set -euo pipefail
            echo -n '${{ secrets.IOS_ATC_API_KEY_P8_BASE64 }}' | base64 -D -i - -o $RUNNER_TEMP/private_keys/AuthKey_${{ secrets.IOS_ATC_API_KEY_ID }}.p8
        - name: Archive
          run: |
            set -euo pipefail
            xcodebuild clean archive \
            -scheme "Redzone" \
            -workspace "Redzone.xcworkspace" \
            -derivedDataPath "$RUNNER_TEMP/DerivedData" \
            -disableAutomaticPackageResolution \
            -clonedSourcePackagesDirPath "$RUNNER_TEMP/clonedSourcePackages" \
            -configuration release \
            -archivePath $RUNNER_TEMP/Redzone.xcarchive \
            2>&1 | xcbeautify --renderer github-actions
        - name: Export & Upload IPA
          if: github.event_name != 'pull_request'
          run: |
            set -euo pipefail
            xcodebuild \
              -exportArchive \
              -archivePath "$RUNNER_TEMP/Redzone.xcarchive" \
              -exportOptionsPlist "./exportOptions.plist" \
              -exportPath "$RUNNER_TEMP/Redzone.ipa" \
              -authenticationKeyIssuerID "${{ secrets.IOS_ATC_API_KEY_ISSUER_ID }}" \
              -authenticationKeyID "${{ secrets.IOS_ATC_API_KEY_ID }}" \
              -authenticationKeyPath "$RUNNER_TEMP/private_keys/AuthKey_${{ secrets.IOS_ATC_API_KEY_ID }}.p8" \
              2>&1 | xcbeautify --renderer github-actions
        - name: Export & Upload IPA (dry run)
          if: github.event_name == 'pull_request'
          run: |
            set -euo pipefail
            xcodebuild \
              -exportArchive \
              -archivePath "$RUNNER_TEMP/Redzone.xcarchive" \
              -exportOptionsPlist "./exportOptions-exportOnly.plist" \
              -exportPath "$RUNNER_TEMP/Redzone.ipa" \
              -authenticationKeyIssuerID "${{ secrets.IOS_ATC_API_KEY_ISSUER_ID }}" \
              -authenticationKeyID "${{ secrets.IOS_ATC_API_KEY_ID }}" \
              -authenticationKeyPath "$RUNNER_TEMP/private_keys/AuthKey_${{ secrets.IOS_ATC_API_KEY_ID }}.p8" \
              2>&1 | xcbeautify --renderer github-actions
