name: "Redzone - iOS - Push to App Store"

on:
    push:
        branches: [ "main" ]
        paths: [ "Redzone-iOS/Redzone/Redzone.base.xcconfig", "Redzone-iOS/exportOptions.plist", "Redzone-iOS/exportOptions-exportOnly.plist", ".github/workflows/push-to-app-store.yml" ]
    pull_request:
        branches: [ "main" ]
        paths: [ "Redzone-iOS/**" ]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  appstore:
    runs-on: 'macos-26'
    defaults:
      run:
        working-directory: ./Redzone-iOS
    env:
      NSUnbufferedIO: YES
    
    steps:
        - name: Checkout
          uses: actions/checkout@v4
        - name: Setup Xcode
          uses: maxim-lobanov/setup-xcode@v1.6.0
          with:
            xcode-version: ^26
        - name: Setup Homebrew
          uses: tecolicom/actions-use-homebrew-tools@v1.3
          with:
            tools: 'xcbeautify swiftlint'
        - name: Setup SPM
          uses: actions/cache@v3
          with:
            path: ${{ runner.temp }}/clonedSourcePackages
            key: ${{ runner.os }}-packages-${{ hashFiles('**/Package.resolved') }}
            restore-keys: |
              ${{ runner.os }}-packages-
        - name: Setup certificates
          shell: zsh {0}
          run: |
            chmod +x ./BuildSupport/install-cert.sh
            ./BuildSupport/install-cert.sh -b '${{ secrets.IOS_DIST_CERTIFICATE_BASE64 }}' -p '${{ secrets.IOS_DIST_CERTIFICATE_PASSWORD }}' -n distribution
            ./BuildSupport/install-cert.sh -b '${{ secrets.IOS_DEV_CERTIFICATE_BASE64 }}' -p '${{ secrets.IOS_DEV_CERTIFICATE_PASSWORD }}' -n development
            security find-identity -v -p codesigning
        - name: Setup provisioning profiles
          shell: zsh {0}
          run: |
            chmod +x ./BuildSupport/install-profiles.sh
            ./BuildSupport/install-profiles.sh -b '${{ secrets.IOS_MOBILEPROVISION_TGZ_BASE64 }}'
        - name: Setup App Store Connect
          shell: zsh {0}
          run: |
            mkdir -p $RUNNER_TEMP/private_keys
            echo -n '${{ secrets.IOS_ATC_API_KEY_P8_BASE64 }}' | base64 -D -i - -o $RUNNER_TEMP/private_keys/AuthKey_${{ secrets.IOS_ATC_API_KEY_ID }}.p8
        - name: Resolve package dependencies
          shell: zsh {0}
          run: |
            chmod +x ./BuildSupport/resolve-packages.sh
            ./BuildSupport/resolve-packages.sh
        - name: Archive
          shell: zsh {0}
          run: |
            set -o pipefail && \
            xcodebuild clean archive \
            -scheme "Redzone" \
            -workspace "Redzone.xcworkspace" \
            -derivedDataPath "$RUNNER_TEMP/DerivedData" \
            -disableAutomaticPackageResolution \
            -clonedSourcePackagesDirPath "$RUNNER_TEMP/clonedSourcePackages" \
            -configuration release \
            -archivePath $RUNNER_TEMP/Redzone-iOS.xcarchive \
            -verbose 2>&1 | xcbeautify --renderer github-actions
        - name: Export & Upload IPA
          if: github.event_name != 'pull_request'
          shell: zsh {0}
          run: |
            set -o pipefail && \
            xcodebuild -exportArchive -verbose \
            -archivePath $RUNNER_TEMP/Redzone-iOS.xcarchive \
            -exportOptionsPlist ./exportOptions.plist \
            -exportPath Redzone-iOS.ipa \
            -authenticationKeyIssuerID ${{ secrets.IOS_ATC_API_KEY_ISSUER_ID}} \
            -authenticationKeyID ${{ secrets.IOS_ATC_API_KEY_ID }} \
            -authenticationKeyPath $RUNNER_TEMP/private_keys/AuthKey_${{ secrets.IOS_ATC_API_KEY_ID }}.p8 \
            2>&1 | xcbeautify --renderer github-actions
        - name: Export & Upload IPA (dry run)
          if: github.event_name == 'pull_request'
          shell: zsh {0}
          run: |
            set -o pipefail && \
            xcodebuild -exportArchive -verbose \
            -archivePath $RUNNER_TEMP/Redzone-iOS.xcarchive \
            -exportOptionsPlist ./exportOptions-exportOnly.plist \
            -exportPath Redzone-iOS.ipa \
            -authenticationKeyIssuerID ${{ secrets.IOS_ATC_API_KEY_ISSUER_ID}} \
            -authenticationKeyID ${{ secrets.IOS_ATC_API_KEY_ID }} \
            -authenticationKeyPath $RUNNER_TEMP/private_keys/AuthKey_${{ secrets.IOS_ATC_API_KEY_ID }}.p8 \
            2>&1 | xcbeautify --renderer github-actions
