name: Redzone - iOS

permissions:
  contents: read
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ "main" ]
    paths: [ "Redzone-iOS/**", ".github/workflows/redzone-ios.yml" ]
  pull_request:
    branches: [ "main" ]
    paths: [ "Redzone-iOS/**", ".github/workflows/redzone-ios.yml" ]

jobs:
  xcode:
    runs-on: macos-26
    defaults:
      run:
        working-directory: ./Redzone-iOS
        shell: zsh {0}
    env:
      NSUnbufferedIO: YES

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/ios-setup
        with:
          dist-p12-base64: ${{ secrets.IOS_DIST_CERTIFICATE_BASE64 }}
          dist-p12-password: ${{ secrets.IOS_DIST_CERTIFICATE_PASSWORD }}
          dev-p12-base64: ${{ secrets.IOS_DEV_CERTIFICATE_BASE64 }}
          dev-p12-password: ${{ secrets.IOS_DEV_CERTIFICATE_PASSWORD }}
          prov-profiles-tgz-base64: ${{ secrets.IOS_MOBILEPROVISION_TGZ_BASE64 }}
          working-directory: ./Redzone-iOS
      - name: iOS - Compile sources & run tests
        uses: ./.github/actions/xcodebuild
        with:
          action: test
          working-directory: ./Redzone-iOS
      - name: watchOS - Compile sources & run tests
        uses: ./.github/actions/xcodebuild
        with:
          action: test
          scheme: Redzone Watch App
          working-directory: ./Redzone-iOS
      - name: Periphery scan
        run: |
          set -euo pipefail
          periphery \
            scan \
            --skip-build \
            --relative-results \
            --format github-actions \
            --index-store-path "${{ runner.temp }}/DerivedData"
